[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile --prefer-offline"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "pnpm exec next start --hostname 0.0.0.0 --port ${PORT:-3000}"
