.git
.gitignore
**/node_modules
**/.next
**/.cache
**/.pnpm-store
**/__pycache__
**/*.pyc
**/*.pyo
**/.DS_Store
**/Thumbs.db
.env
.env.*
frontend/node_modules
frontend/.next
node_modules
datas/*.json
npm-debug.log*
pnpm-debug.log*
yarn-error.log*
